.modal-content{
    background-color: inherit !important;
    border: none !important;
    transform: translate(-50%, -50%);
    // position: fixed !important;
    // top: 50%;
    // left: 50%;
    width: 0% !important;
    margin: 0 auto;
    margin-top: 50%;
}

.toast.show {
    position: fixed;
    left: 48%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 21%;
    backdrop-filter: none
}

@media only screen and (max-width: 600px) {
    .toast.show {
        width: 58% !important;
        top: 35%  !important;
    }
  }

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .toast.show {
        width: 58%;
        top: 25%
    }
}