.app {
// background-image: url(/super-mario.png);
// background-repeat: no-repeat;
.container{
  .postHeader{
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    margin-top: 2%;
    padding: 1%;
  }
  .postDataList{
      border-bottom: solid 1px lightgray;
      padding: 1%;
  }
}
text-align: center;
h3{
  .nav-link{
    color: black !important;
  }
}
.navbar{
  background-color: lightblue !important;
  .mr-auto{
    margin-left: 65%;
  }
}
.formAlignment{
  margin-top: 3%;
  text-align: left;
}
.container{    
  .form-group{
    width: 50%;
  }
  .btn-primary {
    color: white;
    background-color: lightpink !important;
    border-color: lightpink;
    outline: none !important;
  }
}

.projectListContainer{
  .projectSummary{
    margin: 5%;
    color: brown;
  }
}
.projectDetails{
  text-align: left;
  margin: 5%;
  color: black;
}
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
